{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form=group">
                {% if view.request.resolver_match.view_name == 'post-update' %}
                    <button class="btn btn-outline-info" type="submit">Update Post</button>
                    <a class="btn btn-outline-secondary" href="{% url 'blog-home' %}">Cancel</a>
                {% elif view.request.resolver_match.view_name == 'post-create'  %}
                    <button class="btn btn-outline-info" type="submit">Create Post</button>
                    <a class="btn btn-outline-secondary" href="{% url 'blog-home' %}">Cancel</a>

                {% endif %}
            </div>
        </form>
    </div>
{% endblock content%}
