{% extends 'base.html' %}

{% block content %}

    <p>This is title of the product <i>[{{ object.id }}]</i> <h1>"<i>{{ object.title }}</i>"</h1><br></p>
    {% if object.description is not None or object.description != ''%}
       <p> and here you can find it's description:<br>
           "{{ object.description }}"</p><br>
        and it's price: <u>{{ object.price }}</u> USD
    {% else %}
        <p>Description coming soon</p>
    {% endif %}

    <p><a class="btn btn-info mb-4" href="{% url 'products:product_list_view' %}">Back to list</a>
    <a class="btn btn-outline-danger mb-4" href="{% url 'products:product_delete_view' object.id %}">Delete</a></p>
{% endblock content %}